<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#838391"
    },
    "button": {
      "background": "transparent",
      "text": "#4b81e8",
      "border": "#4b81e8"
    }
  },
  "position": "top",
  "content": {
    "message": "2Cents about Cyber Security utilizza solo cookie tecnici di terze parti per finalità legate al funzionamento del sito.",
    "link": "Approfondisci"
  }
})});
</script>
